/* Reset e estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f1f5f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Dropdown */
.dropdown label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

.dropdown select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
}

/* Botões */
.nav-buttons a, .btn-calculate {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

.nav-buttons a:hover, .btn-calculate:hover {
    background-color: #0056b3;
}

/* Input */
input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.value-display {
    font-size: 24px;
    background-color: #f8f9fa;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    color: #007bff;
    font-weight: bold;
}
